$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$darkenlight: darken(#f8f9fa, 3);
$dark: #212529;
$darken: #202327;
$darkgray: #343a40;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$orange: #fd7e14;
$teal: #20c997;
$white: #ffffff;
$border-light: rgba($dark, .1);